<!DOCTYPE html>

<!-- {% load static %} -->

<html lang="en">
<head>
  {% comment %} <link href="{% sass_src '_base.scss' %}" rel="stylesheet" type="text/css" /> {% endcomment %}
  <!-- <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <title>What's In the Cupboard</title>
</head>
<body>
  <header>
    <div id="left-block">
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          {% if user.is_authenicated %}
          <li><a href="{% url 'search' %}">Search Recipes</a></li>
          <li><a href="{% url 'saved' user_id=user.id %}">Saved Recipes</a></li>
          {% if user.is_superuser %}
          <li><a href="{% url 'admin:index' %}">Admin</a></li>
          {% endif %}
          {% comment %} <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'registration_register' %}">Sign-up</a></li>
          <li><a href="{% url 'auth_login' %}">Sign-in</a></li> {% endcomment %}
          {% endif %}
        </ul>
      </nav>
    </div>
    <div id="right-block">
      {% if user.is_authenticated %}
      <span>{{ user.username|title }}</span>
      {% endif %}
    </div>
  </header>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
  </main>
</body>
</html>